<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synertone.module2" >
    <application
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".ModuleMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
